<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Shrijit Singh" />
  <meta name="description" content="Shrijit Singh - Developer" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
</head>

<body style="background: #2a2a2a;">
  <div class="container text-center" style="max-width: 1040px; background: #fefefe; margin: 0 auto; margin-top: 80px; border-radius: 10px;">
    <section class="header" id="header" style="height: 25rem; border-bottom: 1px solid; border-color: rgba(0, 0, 0, 0.25); margin-bottom: 2rem;">
      <div id="cover-background" class="cover-background" style="opacity: 0.5;">
        <canvas id="cover-canvas">
          </canvas>
      </div>
      <div class="header-content" style="height: 25rem; transform: translate(0, -100%); padding-top: 6rem;">
        <h1 style="font-size: 8rem; font-weight: 700;line-height: 120px; margin: 0;">Shrijit Singh</h1>
        <h3 style="font-variant: normal; font-weight: 300;">Computer Science Undergraduate</h3>

        <ul class="menu align-center" style="margin-top: 6rem; font-variant: small-caps; font-size: 1.1rem;">
          <li><a href="/">Home</a></li>
          <li><a href="/">Resume</a></li>
          <li><a href="/">Portfolio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </div>
    </section>
    <section id="blog" class="container" style="max-width: 840px; margin: 3.5rem auto; padding-bottom: 3rem;">
      {{ content }}
    </section>
  </div>
  </div>
</body>

<script src="{{ site.baseurl }}/js/TweenLite.min.js"></script>
<script src="{{ site.baseurl }}/js/EasePack.min.js"></script>
<script src="{{ site.baseurl }}/js/cover.js"></script>

</html>
